beautifulsoup4==4.5.1
celery==4.0.0
lxml==3.6.4
mysql-connector-python==2.2.2
python-apt===0.9.3.5ubuntu2
redis==2.10.5
requests==2.12.3
SQLAlchemy==1.1.4
tornado==4.3
urllib3==1.24.2
xlrd==1.0.0
xlwt==1.1.2
xlutils-2.0.0
